<footer>
  <div class="container-fluid d-flex flex-row justify-content-between align-item-center">
    <div class="container-fluid d-flex flex-row justify-content-start align-item-center">
      <div>© 2023 Airbnb, Inc</div>
      <div class="px-2" style="color: #e7e7e7">|</div>
      <div>Privacy</div>
      <div class="px-2" style="color: #e7e7e7">|</div>
      <div>Terms</div>
      <div class="px-2" style="color: #e7e7e7">|</div>
      <div>Sitemap</div>
      <div class="px-2" style="color: #e7e7e7">|</div>
      <div>Destinations</div>
    </div>
    <div class="container-fluid d-flex flex-row justify-content-end align-item-center">
      <div>Support & Resources</div>
    </div>
  </div>
</footer>
