<footer>
  <div class="container-fluid d-flex flex-row justify-content-between align-item-center">
    <div class="container-fluid d-flex flex-row col-lg-6 col-md-6 justify-content-start align-item-center flex-wrap" id="copyright">
      <div>© 2023 Rebnb, Inc</div>
      <div class="px-2" style="color: #e7e7e7">|</div>
      <div>Privacy</div>
      <div class="px-2" style="color: #e7e7e7">|</div>
      <div>Terms</div>
      <div class="px-2" style="color: #e7e7e7">|</div>
      <div>Sitemap</div>
      <div class="px-2" style="color: #e7e7e7">|</div>
      <div>Destinations</div>
    </div>
    <div class="container-fluid d-flex flex-row  col-lg-6 col-md-6  justify-content-end align-item-center" id="info">
      <div>Support & Resources</div>
    </div>
  </div>
</footer>
