footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 1px solid #e7e7e7;
  border-radius: 2px;
  padding:12px 0;
  box-shadow: 0 0 5px 0 #e7e7e7 ;
  background-color: white;
  color: #504f4f;
  font-size: small;
}

@media (max-width: 575px) {

  #copyright {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
    padding: 3px 0;
  }
}
