<section class="property-detail container" *ngIf="property">
  <div class="row" style="font-weight: bolder; font-size: larger">
    {{property.title}}
  </div>
  <div class="row" style="font-weight: normal; font-size: small">
    <div class="col-md-8 d-flex flex-row justify-content-start">
      <div *ngIf="property.score != null"><em class='bx bxs-star' style="font-size: small"></em> {{property.score}}
      </div>
      <div *ngIf="property.score  == null"><em class='bx bxs-star' style="font-size: small"></em>New</div>
      <div class="px-1">.</div>
      <div>reviews</div>
      <div class="px-1">.</div>
      <div>{{property.city}}</div>
      <div class="px-1">.</div>
      <div>{{property.region}}</div>
      <div class="px-1">.</div>
      <div>{{property.country}}</div>
    </div>
    <div class="col-md-4 d-flex flex-row justify-content-end">
      <div class="px-1">
        <button class="icon"><em class='bx bx-share'></em>Share</button>
      </div>
      <div class="px-1">
        <button class="icon"><em class='bx bx-heart'></em>Save</button>
      </div>
    </div>
  </div>

  <div class="row image-container my-1 p-0">
    <div class="large-image">
      <img style="border-radius: 10px 0 0 10px;" class="image-fluid"
           [src]="image1" alt="img">
    </div>
    <div class="small-images">
      <div class="small-image">
        <img [src]="image2" alt="img">
      </div>
      <div class="small-image">
        <img style="border-radius: 0 10px 0 0;"
             [src]="image3" alt="img">
      </div>
      <div class="small-image">
        <img [src]="image4" alt="img">
      </div>
      <div class="small-image">
        <img style="border-radius: 0 0 10px 0;"
             [src]="image5" alt="img">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 info">
      <div class="row">
        <div class="col-md-10">
          <span style="font-weight: bolder; font-size: larger">{{property.propertyType}}
            hosted by {{property.host}}</span>
          <div class="col-md-8 d-flex flex-row justify-content-start" style="font-weight: normal; font-size: small">
            <div>{{property.maxGuest}} guests</div>
            <div class="px-1">.</div>
            <div>{{property.bedroom}} bedroom</div>
            <div class="px-1">.</div>
            <div>{{property.bed}} bed</div>
            <div class="px-1">.</div>
            <div>{{property.bath}} bath</div>
          </div>
        </div>
        <div class="col-md-2" style="font-weight: bolder; font-size: larger">
          <em id="userIcon" class='bx bxs-user-circle'></em>
        </div>
      </div>
      <hr>
      <div class="row">
        <table>
          <tr>
            <td></td>
            <td>Dive right in</td>
          </tr>
          <tr>
            <td></td>
            <td>Highly-rated host</td>
          </tr>
          <tr>
            <td></td>
            <td>Free cancellation before 2:00 pm on 6 June.</td>
          </tr>
        </table>
      </div>
      <hr>
      <div class="row">
        <p style="font-weight: bolder; font-size: larger">RbCover</p>
        <p style="text-align: justify">{{property.description}}</p>
      </div>
      <hr>
      <div class="row">
        <p style="font-weight: bolder; font-size: larger">What this place offers</p>
      </div>
      <hr>
      <div class="row">
        <p style="font-weight: bolder; font-size: larger">2 nights in {{property.city}}</p>
      </div>
      <hr>
    </div>
    <div class="col-md-4 reserve">
      <form>
        Reservation form
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <p style="font-weight: bolder; font-size: larger">
      Reviews
    </p>
  </div>
</section>
