<section class="property-detail container">
  <div class="row" style="font-weight: bolder; font-size: larger">
    Trang An Lamia Bungalow - Bamboo Treehouse
  </div>
  <div class="row" style="font-weight: normal; font-size: small">
    <div class="col-md-8 d-flex flex-row justify-content-start">
      <div>4.8</div>
      <div class="px-1">.</div>
      <div>reviews</div>
      <div class="px-1">.</div>
      <div>Ninh Binh</div>
      <div class="px-1">.</div>
      <div>Ninh Binh Province</div>
      <div class="px-1">.</div>
      <div>Viet Nam</div>
    </div>
    <div class="col-md-4 d-flex flex-row justify-content-end">
      <div class="px-1">
        <button class="icon"><em class='bx bx-share'></em>Share</button>
      </div>
      <div class="px-1">
        <button class="icon"><em class='bx bx-heart'></em>Save</button>
      </div>
    </div>
  </div>
  <br>
  <div class="row image-container my-1 p-0">
    <div class="large-image">
      <img style="border-radius: 10px 0 0 10px;" class="image-fluid"
           src="https://a0.muscache.com/im/pictures/9b594164-1063-41da-9f2c-70591e90b92d.jpg?im_w=960" alt="img">
    </div>
    <div class="small-images">
      <div class="small-image">
        <img src="https://a0.muscache.com/im/pictures/4eba3b53-6603-4771-ac1f-f8b9514a3520.jpg?im_w=720" alt="img">
      </div>
      <div class="small-image">
        <img style="border-radius: 0 10px 0 0;"
             src="https://a0.muscache.com/im/pictures/c0785dd5-d383-4af1-99ef-373992d3fea1.jpg?im_w=720" alt="img">
      </div>
      <div class="small-image">
        <img src="https://a0.muscache.com/im/pictures/7bb2206d-56f7-406b-8762-071b87cc058c.jpg?im_w=720" alt="img">
      </div>
      <div class="small-image">
        <img style="border-radius: 0 0 10px 0;"
             src="https://a0.muscache.com/im/pictures/0f70e99d-19f2-498b-b589-81359f72aca5.jpg?im_w=720" alt="img">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 info">
      <div class="row">
        <div class="col-md-10">
          <span style="font-weight: bolder; font-size: larger">Treehouse hosted by Trangan Lamia</span>
          <div class="col-md-8 d-flex flex-row justify-content-start" style="font-weight: normal; font-size: small">
            <div>2 guests</div>
            <div class="px-1">.</div>
            <div>1 bedroom</div>
            <div class="px-1">.</div>
            <div>1 bed</div>
            <div class="px-1">.</div>
            <div>1 bath</div>
          </div>
        </div>
        <div class="col-md-2" style="font-weight: bolder; font-size: larger">
          <em id="userIcon" class='bx bxs-user-circle'></em>
        </div>
      </div>
      <hr>
      <div class="row">
        <table>
          <tr>
            <td></td>
            <td>Dive right in</td>
          </tr>
          <tr>
            <td></td>
            <td>Highly-rated host</td>
          </tr>
          <tr>
            <td></td>
            <td>Free cancellation before 2:00 pm on 6 June.</td>
          </tr>
        </table>
        <hr>
        <div class="row">
          <p style="font-weight: bolder; font-size: larger">RbCover</p>
          <p>If you are looking for a place for a honeymoon, dating, wedding, this room is for you. Every detail is
            romantic
            with a hammock, wine, bamboo brush. The view embraces the majestic mountains from the bed. Local food
            special.</p>
          <hr>
        </div>
        <div class="row">
          <p style="font-weight: bolder; font-size: larger">What this place offers</p>

          <hr>
        </div>
        <div class="row">
          <p style="font-weight: bolder; font-size: larger">2 nights in Ninh Binh</p>
          <hr>
        </div>
      </div>
    </div>
    <div class="col-md-4 reserve">
      <form>
        Reservation form
      </form>
    </div>
  </div>
  <div class="row">
    <p  style="font-weight: bolder; font-size: larger">
      Reviews
    </p>
  </div>
</section>
