<section class="homepage container-fluid d-flex flex-row flex-wrap justify-content-between align-items-center">
  <div class="card m-1" style="width: 18rem;">
    <img src="https://a0.muscache.com/im/pictures/d682f7bf-caa4-4433-9038-c5f81a01845b.jpg?im_w=720"
         class="card-img-top" alt="...">
    <div class="card-body">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <strong class="card-title" style="font-size: small">Thành phố Nha Trang, Việt Nam</strong>
        <span  style="font-size: small" >4.8</span>
      </div>
      <span class="card-text"  style="font-size: small">Hướng biển</span>
      <br>
      <span class="card-text"  style="font-size: small">Ngày 02 - Ngày 07 tháng 5</span>
      <br>
      <span class="card-text"  style="font-size: small">đ26.785.164/ đêm</span>
    </div>
  </div>

  <div class="card m-2" style="width: 18rem;">
    <img src="https://a0.muscache.com/im/pictures/8246cb1d-cb4c-4258-a7f1-fd9dc37bc621.jpg?im_w=720"
         class="card-img-top" alt="...">
    <div class="card-body">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <strong class="card-title" style="font-size: small">Hoa Lư, Việt Nam</strong>
        <span  style="font-size: small" >4.8</span>
      </div>
      <span class="card-text"  style="font-size: small">Hướng núi</span>
      <br>
      <span class="card-text"  style="font-size: small">Ngày 02 - Ngày 07 tháng 5</span>
      <br>
      <span class="card-text"  style="font-size: small">đ456.471/ đêm</span>
    </div>
  </div>

  <div class="card m-2" style="width: 18rem;">
    <img src="https://a0.muscache.com/im/pictures/miso/Hosting-588942323525152548/original/ee6ba79a-7834-4c6e-98c6-07e91357166d.jpeg?im_w=720"
         class="card-img-top" alt="...">
    <div class="card-body">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <strong class="card-title" style="font-size: small">Sơn Trà, Việt Nam</strong>
        <span  style="font-size: small" >4.8</span>
      </div>
      <span class="card-text"  style="font-size: small">Hướng biển</span>
      <br>
      <span class="card-text"  style="font-size: small">Ngày 02 - Ngày 07 tháng 5</span>
      <br>
      <span class="card-text"  style="font-size: small">đ818.657/ đêm</span>
    </div>
  </div>

  <div class="card m-2"  style="width: 18rem;">
    <img src="https://a0.muscache.com/im/pictures/24ab02e5-fcba-4657-84e2-a6272ffb3fd4.jpg?im_w=720"
         class="card-img-top" alt="...">
    <div class="card-body">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <strong class="card-title" style="font-size: small">Surat Thani, Thái Lan</strong>
        <span  style="font-size: small" >4.8</span>
      </div>
      <span class="card-text"  style="font-size: small">Hướng bãi biển và núi</span>
      <br>
      <span class="card-text"  style="font-size: small">Ngày 02 - Ngày 07 tháng 5</span>
      <br>
      <span class="card-text"  style="font-size: small">đ2.785.164/ đêm</span>
    </div>
  </div>

  <div class="card m-1" style="width: 18rem;">
    <img src="https://a0.muscache.com/im/pictures/d682f7bf-caa4-4433-9038-c5f81a01845b.jpg?im_w=720"
         class="card-img-top" alt="...">
    <div class="card-body">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <strong class="card-title" style="font-size: small">Thành phố Nha Trang, Việt Nam</strong>
        <span  style="font-size: small" >4.8</span>
      </div>
      <span class="card-text"  style="font-size: small">Hướng biển</span>
      <br>
      <span class="card-text"  style="font-size: small">Ngày 02 - Ngày 07 tháng 5</span>
      <br>
      <span class="card-text"  style="font-size: small">đ26.785.164/ đêm</span>
    </div>
  </div>

  <div class="card m-2" style="width: 18rem;">
    <img src="https://a0.muscache.com/im/pictures/8246cb1d-cb4c-4258-a7f1-fd9dc37bc621.jpg?im_w=720"
         class="card-img-top" alt="...">
    <div class="card-body">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <strong class="card-title" style="font-size: small">Hoa Lư, Việt Nam</strong>
        <span  style="font-size: small" >4.8</span>
      </div>
      <span class="card-text"  style="font-size: small">Hướng núi</span>
      <br>
      <span class="card-text"  style="font-size: small">Ngày 02 - Ngày 07 tháng 5</span>
      <br>
      <span class="card-text"  style="font-size: small">đ456.471/ đêm</span>
    </div>
  </div>

  <div class="card m-2" style="width: 18rem;">
    <img src="https://a0.muscache.com/im/pictures/miso/Hosting-588942323525152548/original/ee6ba79a-7834-4c6e-98c6-07e91357166d.jpeg?im_w=720"
         class="card-img-top" alt="...">
    <div class="card-body">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <strong class="card-title" style="font-size: small">Sơn Trà, Việt Nam</strong>
        <span  style="font-size: small" >4.8</span>
      </div>
      <span class="card-text"  style="font-size: small">Hướng biển</span>
      <br>
      <span class="card-text"  style="font-size: small">Ngày 02 - Ngày 07 tháng 5</span>
      <br>
      <span class="card-text"  style="font-size: small">đ818.657/ đêm</span>
    </div>
  </div>

  <div class="card m-2"  style="width: 18rem;">
    <img src="https://a0.muscache.com/im/pictures/24ab02e5-fcba-4657-84e2-a6272ffb3fd4.jpg?im_w=720"
         class="card-img-top" alt="...">
    <div class="card-body">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <strong class="card-title" style="font-size: small">Surat Thani, Thái Lan</strong>
        <span  style="font-size: small" >4.8</span>
      </div>
      <span class="card-text"  style="font-size: small">Hướng bãi biển và núi</span>
      <br>
      <span class="card-text"  style="font-size: small">Ngày 02 - Ngày 07 tháng 5</span>
      <br>
      <span class="card-text"  style="font-size: small">đ2.785.164/ đêm</span>
    </div>
  </div>
</section>
