

/*----------------------------------
Categoty
------------------------------------*/
#category {
  position: sticky;
  top: 5.8rem;
  background: white;
  z-index: 1;
  border-bottom: 2px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  border-radius: 2px;
  font-size: small;
  padding: 10px 0;
}

#category em {
  transform: scale(2);
  color: dimgray;
}

#category em:hover {
  box-shadow: 0 0 10px 0 #e7e7e7;
}

#categoryDetail {
  color: dimgray;
  border-bottom: white solid 2px;
}

#categoryDetail:hover {
  color: #262525;
  border-bottom: dimgray solid 2px;
}

/*----------------------------------
Property List
------------------------------------*/
.homepage {
  position: relative;
  top: 7rem;
  z-index: 0;
}

.card {
  border-style: none;
}

img {
  border-radius: 5%;
}

.card:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #343434;
}

#heart-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5em;
  font-size: x-large;
  color: #504f4f;
}

/*----------------------------------
Pagination
------------------------------------*/
.pagination {
  position: fixed;
  bottom:  3.5rem;
  right: 2rem;
}

.button-page-detail{
  border: 1px solid #fc9eae;
  background-color: pink;
}


.colorCurrentPage {
  background-color: darkorange;
}

.button-page{
  border: 1px solid #bfe6f5;
  background-color: #d8f3fc;
}



