<header>
  <div class="container-fluid d-flex flex-row justify-content-between align-items-center">
    <div class="col-lg-2 col-md-2 d-flex flex-row align-items-center">
      <img style="height: 60px" src="../../assets/img/logo.png">
      <p class="m-0 " style="color: #ff385c; font-weight: bold; font-size: x-large">rebnb</p>
    </div>
    <div class="search col-lg-8 col-md-8 d-flex flex-row justify-content-center align-items-center">
      <div class="where d-flex flex-column col-lg-4 col-md-4">
        <strong>Where</strong>
        <input type="text" placeholder="Search destinations">
      </div>
      <div class="check-in d-flex flex-column col-lg-2 col-md-2">
        <strong>Check in</strong>
        <input type="date">
      </div>
      <div class="check-out d-flex flex-column col-lg-2 col-md-2">
        <strong>Check out</strong>
        <input type="date">
      </div>
      <div class="who d-flex flex-column align-items-center col-lg-3 col-md-3">
        <!--        <div class="d-flex flex-column">-->
        <strong>Who</strong>
        <input type="text" placeholder="Add number of guest">
        <!--        </div>-->
      </div>
      <div class="searchIcon d-flex flex-column align-items-center col-lg-1 col-md-1">
        <button id="icon"><em id="searchIcon" class='bx bx-search-alt-2'></em></button>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 d-flex flex-row justify-content-end align-items-center">
      <div class="dropdown d-flex flex-column justify-content-center align-items-center">
        <button (click)="toggleDropDown()" class="dropbtn" id="dropdownbtn">
          <em id="userIcon" class='bx bxs-user-circle'></em>
        </button>
        <ul  *ngIf="isDropDownOpen" id="myDropdownUser" class="dropdown-content" style="border-radius: 10px">
          <li [hidden]="isLoggedIn" (click)="toggleDropDown()" style="border-radius: 10px 10px 0 0"><a style="border-radius: 10px 10px 0 0" class="py-1" routerLink="/security/login">Sign up</a></li>
          <li [hidden]="isLoggedIn" (click)="toggleDropDown()" ><a class="py-1" routerLink="/security/login">Log in</a></li>
          <li [hidden]="!isLoggedIn" (click)="toggleDropDown()" style="border-radius: 10px 10px 0 0"><a  style="border-radius: 10px 10px 0 0" class="py-1" href="#">Trips</a></li>
          <li [hidden]="!isLoggedIn" (click)="toggleDropDown()"><a class="py-1" href="#">Wishlists</a></li>
        <hr class="p-0 m-0">
          <li [hidden]="!isLoggedIn" (click)="toggleDropDown()"><a class="py-1" href="#">Account</a></li>
          <li [hidden]="!isLoggedIn" (click)="toggleDropDown()"><a class="py-1" href="#">Manage Listings</a></li>
          <hr class="p-0 m-0">
          <li (click)="toggleDropDown()"> <a class="py-1" href="#">Rebnb your home</a></li>
          <li (click)="toggleDropDown()"> <a class="py-1" style="border-radius: 0 0 10px 10px" href="#">Help</a></li>
          <li [hidden]="!isLoggedIn" (click)="toggleDropDown()" > <a class="py-1" style="border-radius: 0 0 10px 10px" (click)="logOut()">Log out</a></li>
        </ul>


      </div>
    </div>
  </div>
  <!-- Modal Login -->
  <div class="modal fade" style="z-index: 1;" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
       aria-labelledby="staticBackdropLabel">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>

  <!--Categories-->

</header>
