.login {
  border: 1px solid #504f4f;
  border-radius: 10px;
  position: -webkit-sticky;
  position: relative;
  top: 120px;
}

svg {
  color: #007bff;
}
.error {
  text-align: start;
  color: red;
}

a {
  text-decoration: none;
  color: #212121;
}

#closeButton:hover, #closeButton:focus {
   cursor: pointer;
 }
